@import './global/style.css';
@import './global/global.css';

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// .car_single .swiper-slide {
//     width: 33.7%;
//     height: 100%;
//     opacity: 0.4;
// }
// .car_single .swiper-slide-thumb-active {
//     opacity: 1;
// }
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2000;
    padding: 1rem 2rem;

    &.toFixed {
        background-color: var(--bg-yellow);
        padding: .5rem;

        .container {
            .row {
                .logo {
                    img {
                        height: 5rem;
                    }
                }

                .nav {
                    .dropdown {
                        select {

                            option {
                                background-color: var(--bg-black);
                            }
                        }
                    }


                    .mobile-menu {
                        img {
                            filter: invert(113%) sepia(91%) saturate(2276%) hue-rotate(348deg) brightness(97%) contrast(109%);

                        }
                    }
                }
            }
        }
    }

    .container {
        .row {
            justify-content: space-between;
            align-items: center;

            .logo {
                img {

                    height: 7rem
                }
            }

            .nav {
                gap: 2rem;
                display: flex;
                align-items: center;

                .dropdown {
                    select {
                        border: none;
                        outline: none;
                        background: transparent;
                        color: var(--text-white);
                        font-size: 17px;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        display: block;
                        cursor: pointer;

                        option {
                            background-color: var(--bg-black);
                            cursor: pointer;
                        }
                    }
                }

                .menu-toggler {
                    position: fixed;
                    left: -100%;
                    top: 0%;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    background-color: var(--bg-black);
                    z-index: 2000;
                    height: 100%;
                    width: 50%;
                    padding: 4rem 20rem;
                    transition: all .2s linear;

                    &.active {
                        left: 0;
                    }

                    .menu__ul__list {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 6rem;
                        height: 100%;

                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            i {
                                color: var(--text-white);
                                font-size: 3rem;
                                color: var(--bg-yellow);
                                opacity: 0;
                                transition: all .3s linear;
                            }

                            a {
                                color: var(--text-white);
                                font-size: 4rem;
                                text-transform: uppercase;
                                transition: all .3s linear;

                                &:hover {
                                    color: var(--bg-yellow);

                                }
                            }

                            &.active {
                                a {
                                    color: var(--bg-yellow);
                                    font-weight: 600;
                                }

                                i {
                                    opacity: 1;
                                }
                            }

                            &:hover {
                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .close {
                        position: absolute;
                        top: 4rem;
                        left: 9rem;
                        cursor: pointer;

                        i {
                            color: var(--text-white);
                            font-size: 3rem;
                        }
                    }
                }

                .mobile-menu {
                    display: block;
                    cursor: pointer;

                    img {
                        height: 15px;
                    }

                }
            }
        }
    }
}

.more {

    padding: 2rem 0;
    display: flex;
    align-items: end;
    justify-content: end;

    a {
        display: flex;
        width: max-content;
        justify-content: center;
        align-items: center;
        gap: 20px;

        i {
            transform: rotate(40deg);
        }
    }
}

main {
    &.other_pages {
        padding-top: 12rem;
    }

    .breadcump {
        position: relative;

        h3 {
            position: absolute;
            bottom: -65px;
            left: 10%;
            z-index: 100;
            font-size: 10rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0px;
            padding: 2rem 0rem;

            li {
                display: flex;
                align-items: center;

                a,
                span {
                    font-size: 1.2rem;
                    color: var(--text-white);

                    &.active {
                        color: var(--bg-yellow);
                    }

                }

                p {
                    padding: 0rem 1rem;

                    i {
                        color: var(--text-white);
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .car {
        .container {
            .grid {
                position: relative;

                .car__left {
                    @include flex-col();

                    height: 100%;

                    .content {
                        position: absolute;

                        h1,
                        p {
                            margin-bottom: 4rem;
                        }

                        p {
                            width: 60%;
                        }

                        h1 {
                            font-size: 12.5rem;
                        }

                    }

                    a {
                        width: max-content;
                        background-color: transparent;
                        color: var(--text-white);
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }

                .car__right {
                    img {
                        height: 80rem;

                    }
                }
            }
        }
    }

    .count {
        background-color: var(--bg-yellow);
        padding: 20px 0;

        .container {
            .count-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
                gap: 20px;

                li {

                    @include flex-col();
                    align-items: center;


                    span {
                        font-size: 6.3rem;
                        font-weight: 600;
                        display: inline-flex;
                        align-items: center;
                        gap: 5px;

                        i {
                            font-size: 35px;
                        }

                    }

                    h3 {
                        color: var(--bg-black);
                    }
                }
            }
        }
    }

    .about {
        padding: 10.2rem 0;

        .about__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
            gap: 30px;

            .about__left {

                @include flex-col();
                width: 100%;
                height: 100%;
                padding-left: 13.5rem;

                h2 {
                    text-transform: uppercase;
                    font-weight: 500;

                }

                .btn {
                    i {
                        transform: rotate(40deg);
                    }
                }

                p,
                a {
                    padding-left: 10rem;
                }

                p {
                    padding-bottom: 3rem;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }

            .abot__right {

                display: flex;
                justify-content: end;

                .image {
                    width: 60rem;
                    height: 50rem;

                }
            }
        }
    }

    .services {
        padding: 10rem 0;

        .container {
            .services__slider {
                padding-top: 6rem;


                .swiper-container {

                    padding: 8rem 0;

                    .swiper-wrapper {
                        .swiper-slide {
                            .image {
                                position: relative;

                                @include flex-col();

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba($color: #000000, $alpha: .6);
                                }

                                .active__content {
                                    display: none;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    padding: 2rem 1.5rem;
                                    gap: 30px;
                                    flex-direction: column;

                                    h3,
                                    p,
                                    a {
                                        z-index: 30;

                                    }

                                    a {
                                        display: flex;
                                        align-items: center;
                                        gap: 20px;

                                        i {
                                            transform: rotate(40deg);
                                        }
                                    }

                                }


                            }

                            transform: scale(.8);

                            &.swiper-slide-active {
                                .image {
                                    &::before {
                                        content: '';

                                        background-color: rgba($color: #000000, $alpha: 0.2);
                                    }

                                    .active__content {
                                        display: flex;
                                    }


                                }

                                transform: scale(1);

                                .content {
                                    h5 {
                                        display: none;
                                    }
                                }
                            }

                            h5 {
                                padding-top: 3rem;
                                text-transform: uppercase;
                                text-align: center;
                                font-size: 2.5rem;
                                font-weight: 300;
                            }


                        }
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        background-color: var(--bg-yellow);
                        background-image: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }


                }
            }
        }
    }

    .products {
        margin-bottom: 10rem;

        .container {
            .heading {
                justify-content: start;
            }

        }

        .products__boxs {
            .content {
                h3 {
                    margin-top: 1rem;
                    font-size: 3rem;
                }

                span {
                    display: block;
                    margin-top: 3rem;
                    font-size: 2.4rem;
                    color: var(--text-white);
                    margin-bottom: 1rem;
                }
            }
        }

        &.product_page {
            margin-top: 15rem;

            .products__boxs {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 40px;
            }
        }
    }

    .content_single {

        padding-top: 5rem;

        .container {
            .content_grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .left {


                    h3 {
                        text-transform: uppercase;
                        color: var(--bg-yellow);
                    }

                    span {
                        display: block;
                        margin-top: 3rem;
                        font-size: 2.4rem;
                        color: var(--text-white);
                        margin-bottom: 1rem;
                    }
                }

                .right {
                    position: relative;
                    overflow: hidden;
                   
                    .car_single_swiper_bottom{
                        margin-top: 3rem;
                      
                        img{
                            height: 15rem;
                        }
                    }

                    img {
                        height: 40rem;
                    }
                }

                .details {
                    padding-top: 5rem;

                    li {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        .left,
                        .right {
                            font-size: 1.5rem;
                            margin-top: 1.5rem;
                        }

                        .left {
                            font-weight: 600;
                        }

                        .right {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    .cars {
        padding-top: 10rem;

        .cars__slider {
            .content {
                h3 {
                    margin-top: 1rem;
                    font-size: 3rem;
                }

                span {
                    display: block;
                    margin-top: 3rem;
                    font-size: 2.4rem;
                    color: var(--text-white);
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .blogs {
        margin-top: 10rem;

        padding: 6rem 0;
        background-color: var(--bg-yellow);

        .heading {
            justify-content: flex-start;

            h2 {
                color: var(--bg-black);
            }
        }

        .blog__slider {
            margin-top: 2rem;

            .content {
                padding: 0 10rem;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;

                .left {

                    img {
                        height: 30rem;
                    }
                }

                .right {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h3,
                    p,
                    a {
                        color: var(--bg-black);
                    }

                    a {
                        font-weight: 600;

                        i {
                            margin-left: 2rem;
                            transform: rotate(40deg);
                        }
                    }
                }
            }

            .btn {
                background-image: none;

                i {
                    color: var(--bg-black);
                    font-size: 3rem;
                }
            }
        }
    }

    .blog_single_content {

        margin-top: 15rem;

        .share {
            margin: 3rem 0;

            i {
                color: var(--text-white);
                font-size: 4rem;
            }
        }

        .blog__single_grid {

            display: grid;
            grid-template-columns: 8fr 3fr;
            gap: 8rem;

            .left {

                p {
                    padding: 4rem 0;
                }

                img {
                    height: 50rem;
                }
            }

            .right {

                h2 {
                    font-size: 5rem;
                    text-transform: uppercase;
                    margin-bottom: 3rem;
                }

                .other_blogs {
                    li {
                        margin-bottom: 3rem;

                        a {
                            display: block;
                            padding-top: 2rem;

                            i {
                                transform: rotate(40deg);
                                margin-left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {

        padding-top: 10rem;

        .container {
            .content {
                margin-top: 4rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                .left {

                    display: flex;
                    flex-direction: column;

                    .location,
                    .map {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        margin-bottom: 2rem;

                        a {
                            color: var(--text-white);
                            font-size: 1.4rem;
                        }

                        span {
                            i {
                                color: var(--bg-yellow);
                                font-size: 2.5rem;
                            }
                        }
                    }
                }

                .center {

                    .phone {
                        display: flex;

                        .numbers {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            a {
                                color: var(--text-white);
                                font-size: 1.4rem;
                            }
                        }
                    }
                }

                .right {


                    ul {
                        display: flex;
                        align-items: center;
                        gap: 40px;

                        li {
                            a {
                                i {
                                    color: var(--bg-yellow);
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }
            }

        }

        .contact__map {
            margin-top: 3rem;

            iframe {
                width: 100%;
                height: 690px;
            }
        }
    }

    .about {
        &.second {
            .about__grid {
                .abot__right {
                    justify-content: flex-start;
                    padding-right: 5rem;

                    .image {
                        width: 100%;
                    }

                }

                .about__left {
                    padding-left: 0rem;

                    p,
                    a {
                        padding: 0;
                    }

                    a {
                        margin-top: 2rem;
                    }
                }
            }
        }

        &.first {
            .abot__right {
                .image {
                    width: 100%;
                    padding-left: 5rem;
                }
            }
        }
    }

    .services_page {
        padding-top: 16rem;

        ul {
            li {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 6rem;
                margin-bottom: 6rem;

                .left {

                    img {
                        height: 37rem;
                    }
                }

                .right {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h3 {
                        text-transform: uppercase;
                        color: var(--bg-yellow);
                    }

                    a {

                        i {
                            margin-left: 2rem;
                            transform: rotate(40deg);
                        }
                    }
                }
            }
        }

        &.single {
            padding-top: 4rem;

            .first {
                padding-right: 20rem;
                padding-bottom: 6rem;
            }

            .second {
                padding-left: 20rem;
            }
        }
    }

}

.footer {

    .content {
        padding: 10rem 0;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .logo {
            img {
                width: 13rem;
            }

        }

        .navbar__list_first,
        .navbar__list_second {
            ul {
                li {
                    padding: .6rem 0;

                    a {
                        color: var(--text-white);
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .socials {
            p {
                text-transform: capitalize;

            }

            ul {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 2rem;

                li {
                    a {
                        i {
                            color: var(--text-white);
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    .footer__bottom {
        background-color: var(--bg-yellow);
        padding: 1rem 0;

        p {
            text-align: center;
            color: var(--bg-black);
        }
    }
}

@media screen and (max-width:1299px) {

    h2 {
        font-size: 6rem;
    }

    main {
        .car {
            .container {
                .grid {
                    .car__left {
                        .content {
                            left: 5%;

                            h1 {
                                font-size: 10rem;
                            }
                        }
                    }
                }
            }

            .margin-auto {
                margin: inherit;
                max-width: 100%;
            }

            .car__right {
                width: 100%;

                img {
                    width: auto;

                }
            }
        }

        .about {
            .about__grid {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

                .about__left {
                    padding-left: 7rem;

                    h2 {
                        font-size: 7rem;
                    }

                    p,
                    a {
                        padding-left: 0rem;
                    }
                }
            }
        }

        .cars {
            padding-top: 0rem;
        }

        .blogs {
            padding: 3rem 0;
        }

        .blog_single_content {
            .blog__single_grid {
                grid-template-columns: 7fr 4fr;
                gap: 4rem;

                .right {
                    h2 {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1050px) {
    .header {
        .container {
            .row {
                .nav {
                    .dropdown {
                        display: none;
                    }

                    .menu-toggler {
                        width: 100%;
                        padding: 4rem 10rem;

                        .menu__ul__list {
                            li {
                                a {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    h3 {
        font-size: 3rem;
    }

    .more {
        display: none;
    }

    .heading {
        margin: 4rem 0 2rem 0;
    }

    main {

        .breadcump {
            ul {
                padding: 2rem 2rem;
            }

            h3 {
                bottom: -20px;
            }

            img {
                height: 200px;
            }

            h3 {
                font-size: 4rem;
            }
        }

        .car {

            .container {
                .grid {
                    gap: 0;

                    .car__right {
                        justify-content: end;
                        display: flex;

                        img {
                            height: 60rem;
                        }
                    }

                    .car__left {
                        .content {
                            left: 5%;
                            top: 20%;

                            h1 {
                                font-size: 4.4rem;
                            }
                        }
                    }
                }
            }

        }

        .about {
            padding: 4rem 2rem;

            .about__grid {
                grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));

                .about__left {
                    order: -1;
                    padding-left: 7rem;

                    h2 {
                        font-size: 7rem;
                    }

                    p,
                    a {
                        padding-left: 0rem;
                    }
                }

                .abot__right {
                    padding-top: 2rem;
                    justify-content: center;
                    align-items: center;

                    .image {
                        height: auto;
                        padding-left: 0rem;
                    }
                }
            }
        }

        .products {
            margin-top: 3rem;

            .products__boxs {
                .image {
                    img {
                        height: 300px;
                    }
                }
            }

            &.product_page {
                margin-top: 10rem;

                .products__boxs {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 30px;

                    .content {
                        width: 100%;
                    }
                }
            }
        }

        .cars {
            .heading {
                justify-content: start;
            }
        }

        .services {
            padding: 0px 20px;

            .container {
                max-width: 100%;

                .services__slider {
                    padding-top: 0rem;

                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                transform: scale(1);

                                .image {

                                    height: 350px;

                                    &::before {
                                        content: '';
                                        background-color: initial;
                                    }

                                    .active__content {
                                        position: initial;
                                        display: flex;
                                        justify-content: space-between;
                                        gap: 20px;
                                        height: 100%;

                                        p {
                                            font-size: 1.3rem;
                                        }
                                    }
                                }

                                h5 {
                                    display: none;
                                }
                            }
                        }

                        .swiper-button-prev,
                        .swiper-button-next {
                            display: none;
                        }
                    }
                }
            }

        }

        .blogs {
            padding: 0rem;

            .heading {
                padding-top: 3rem;
            }

            .blog__slider {
                .content {
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0rem;
                }

                .btn {
                    display: none;
                }
            }
        }

        .blog_single_content {
            margin-top: 6rem;
            padding: 0 2rem;

            .blog__single_grid {
                grid-template-columns: 6fr 2fr;
                gap: 4rem;

            }
        }

        .count {
            .container {
                .count-grid {
                    li {
                        span {
                            font-size: 5rem;
                        }

                        h3 {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }

        .contact {
            padding-top: 3rem;

            .container {
                max-width: 100%;
                padding: 0px 30px;

                .content {
                    .center {
                        .phone {
                            justify-content: center;
                        }
                    }

                    .right {
                        ul {
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .services_page {
            .container {
                max-width: 100%;
                padding: 0 5rem;
            }

            ul {
                li {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            &.single {
                padding-top: 2rem;

                .first {
                    padding: 0rem 3rem;
                    padding-bottom: 3rem;
                }

                .second {
                    padding: 0rem 3rem;

                    .left {
                        order: -1;
                    }
                }
            }
        }
    }

    .footer {

        .content {
            padding: 5rem 2rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }


}

@media screen and (max-width:991px) {
    .header {
        padding: 20px 0;

        .container {
            max-width: 100%;
            padding: 0px 2rem;
        }
    }

    main {
        .products {
            &.product_page {
                .products__boxs {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    .products__box {
                        margin-bottom: 4rem;
                    }
                }
            }
        }

        .content_single {

            padding-top: 2rem;

            &.car_single {
                .container {
                    .content_grid {
                        gap: 0;

                        .right {
                            order: -1;
                        }
                    }
                }
            }

            .container {
                .content_grid {
                    padding: 0 2rem;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 30px;

                    .left {



                        span {
                            display: block;
                            margin-top: 3rem;
                            font-size: 1.6rem;
                            color: var(--text-white);
                            margin-bottom: 1rem;
                        }
                    }
                    .left{
                        h3{
                            margin-top: 3rem;
                        }
                    }

                    .right {
                        .car_single_swiper_bottom{
                            img {
                                height: auto;
                            }
                        }
                        img{
                            height: 25rem;
                        }

                       
                    }
                }
            }
        }

        .blog_single_content {
            .blog__single_grid {
                grid-template-columns: 1fr;
                gap: 4rem;

                .left {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 5rem;
    }

    .header {
        .container {
            padding: 0rem 2rem;

            .row {
                .logo {
                    img {
                        height: 4rem;
                    }
                }

                .nav {
                    .menu-toggler {
                        width: 100%;
                        padding: 4rem 5rem;
                        gap: 5rem;

                        .menu__ul__list {
                            li {
                                a {
                                    font-size: 2rem;
                                }
                            }
                        }

                        .close {
                            left: 4rem;
                        }
                    }
                }
            }
        }
    }

    .container {
        min-width: 100%;
    }

    main {
        .car {

            .container {
                .grid {
                    display: initial;

                    .car__right {

                        img {
                            height: 60rem;
                            width: 25rem;

                        }
                    }

                    .car__left {
                        .content {
                            left: 5%;

                            h1 {
                                font-size: 4.4rem;
                            }

                            p {
                                width: 80%;
                            }
                        }
                    }
                }
            }

        }

        .count {
            .container {
                .count-grid {
                    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

                    li {
                        span {
                            font-size: 29px;
                        }

                        h3 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .about {


            .about__grid {
                gap: 0;
                grid-template-columns: 1fr;

                .about__left {

                    padding: 0rem;

                    h2 {
                        font-size: 5rem;
                    }


                }

                .abot__right {
                    margin-top: 2rem;


                    .image {
                        width: 100%;
                    }
                }

            }

            &.second {
                .about__grid {
                    .abot__right {
                        padding-right: 0rem;
                    }
                }
            }
        }

        .services {
            .container {

                .services__slider {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                .image {
                                    height: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .products {
            padding: 0px 20px;

            .products__boxs {
                .content {
                    width: 280px;
                }
            }

            &.product_page {
                .container {
                    max-width: 100%;
                }

                margin-top: 10rem;

                .products__boxs {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 0;

                }
            }
        }

        .cars {
            padding: 0px 20px;

            .cars__slider {
                .image {
                    .content {
                        width: 250px;
                    }
                }
            }
        }

        .blogs {
            padding: 0px 30px 40px;

            .blog__slider {
                .content {
                    gap: 20px;

                    .left {
                        img {
                            height: 20rem;
                        }
                    }
                }
            }
        }

        .contact {
            .heading {
                justify-content: flex-start;
            }

            .container {
                .content {
                    grid-template-columns: repeat(1, 1fr);

                    .center {
                        .phone {
                            justify-content: flex-start;
                        }
                    }

                    .right {
                        padding-top: 2rem;

                        ul {
                            justify-content: flex-start;
                        }
                    }
                }
            }

            .contact__map {
                iframe {
                    height: 40rem;
                }
            }
        }

        .services_page {
            padding-top: 8rem;

            .container {

                padding: 0 2rem;
            }

            ul {
                li {
                    gap: 3rem;

                    .left {
                        img {
                            height: auto;
                        }
                    }
                }
            }

            .btn {
                padding-top: 2rem;
            }

            &.single {
                padding-top: 2rem;

                .first {
                    padding: 0rem 2rem;
                    padding-bottom: 3rem;
                }

                .second {
                    padding: 0rem 2rem;

                }
            }
        }
    }

    .footer {
        .content {
            grid-template-columns: repeat(1, 1fr);
        }

        .footer__bottom {
            padding: 1rem;

            p {
                font-size: 1rem;
            }
        }
    }
}